@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Inlämninguppgift 2 by Dennis Byberg</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>// Kod...</h2>
        <p>
            // Kod...
        </p>
    </div>
    <div class="col-md-4">
        <h2>// Kod...</h2>
        <p>// Kod...</p>
    </div>
    <div class="col-md-4">
        <h2>GitHub</h2>
        <p>You can download the completed project from my GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/DennisByberg?tab=repositories">See project source code &raquo;</a></p>
    </div>
</div>